<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d2280229-130a-4e91-b15c-7554f831e190/resourcegroups/Onboarding-project/providers/Microsoft.Web/sites/IB-Onboarding20240309012616</ResourceId>
    <ResourceGroup>Onboarding-project</ResourceGroup>
    <RuntimeIdentifier />
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ib-onboarding20240309012616.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>ib-onboarding20240309012616.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>IB-Onboarding20240309012616</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>$IB-Onboarding20240309012616</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="locationModel" Order="1" Enabled="False">
          <Destination Path="Data Source=ib-onboardingdbserver.database.windows.net,1433;Initial Catalog=IB-Onboarding_db;User ID=ylei0016;Password=Lmjlyl001005!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="IB_Onboarding.Models.locationModel, IB-Onboarding" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Project_databaseEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=ib-onboardingdbserver.database.windows.net,1433;Initial Catalog=IB-Onboarding_db;User ID=ylei0016;Password=Lmjlyl001005!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Project_database.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Project_databaseEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.locationModel.csdl|res://*/Models.locationModel.ssdl|res://*/Models.locationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Project_database.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Project_databaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.locationModel.csdl|res://*/Models.locationModel.ssdl|res://*/Models.locationModel.msl;provider=System.Data.SqlClient;provider connection string="data source=ib-onboardingdbserver.database.windows.net,1433;initial catalog=IB-Onboarding_db;user id=ylei0016;password=Lmjlyl001005!;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="locationModel-Web.config Connection String">
      <ParameterValue>Data Source=ib-onboardingdbserver.database.windows.net,1433;Initial Catalog=IB-Onboarding_db;User ID=ylei0016;Password=Lmjlyl001005!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>