@{
    ViewBag.Title = "About us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>

    <p>
        Welcome to SunGuardian Kids, the innovative website dedicated to empowering parents with vital information about solar radiation and its impact on children. In today's world, where outdoor activities are integral to a child's development, ensuring their safety in the sun is paramount. SunGuardian Kids is designed to provide parents with real-time and forecasted solar radiation levels for different times of the day, enabling them to plan outdoor activities with their child's health and safety in mind.
    </p>
    <p>
        Our easy-to-navigate website offers a unique and user-friendly interface that presents solar radiation data in an accessible format. Whether it's planning a day at the park, a sports event, or just a casual outdoor playdate, SunGuardian Kids gives you the tools to make informed decisions about sun exposure.
    </p>
    <p>
        At SunGuardian Kids, our mission is to support parents in fostering a safe and healthy environment for their children's outdoor experiences. Join our community today and take the first step towards smarter, sun-safe planning for your family's outdoor adventures!
    </p>

</main>