@{
    ViewBag.Title = "Learn More";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Wellington Road,<br />
        Clayton,<br />
        Victoria 3800,<br />
        Australia<br />
    </address>

    <address>
        <strong>Support:</strong>   <a href="ylei0016@student.monash.edu">ylei0016@student.monash.edu</a><br />
    </address>
</main>