.menu-item-spacing .ant-menu-item {
    margin-right: 80px; /* Adjust the space as needed */
    margin-left: 80px;
}
.menu-item-spacing .ant-menu-submenu {
    margin-right: 80px; /* Adjust the space as needed */
    margin-left: 80px;
}